/**
 * Customization of Quarto to DHI light theme for reveal.js presentations.
 * Font and Colors have been adjusted to match the DHI corporate visual identity.
 */


/*-- scss:defaults --*/
//@import url(//db.onlinewebfonts.com/c/21e415575218d66fa9df647bd0c610cf?family=Copyright+Klim+Type+Foundry);
//$font-family-sans-serif: "Copyright Klim Type Foundry", sans-serif !default;

@import url(//db.onlinewebfonts.com/c/12cff83c23b642a97c6a98ef97f8ba38?family=Karbon+Regular);
$font-family-sans-serif: "Arial", "Karbon Regular", sans-serif !default;


// colors
$body-bg: #ffffff !default;
$body-color: #51626F !default;
$link-color: lighten($body-color, 10%) !default;
$selection-bg: lighten($body-color, 30%) !default;

// headings
$presentation-heading-font: "Karbon Regular", sans-serif !default;
$presentation-heading-font-weight: 400 !default;
$presentation-heading-color: #004165 !default;
$presentation-heading-text-transform: uppercase !default;

$presentation-slide-text-align: left !default;

/*-- scss:rules --*/
#title-slide {
  text-align: left;

  .subtitle,
  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    font-style: italic;
    // font-size: 80%;
    color: #7F7F7F;
  }

  .author, .quarto-title-author-name {
    color: $body-color;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;
  
    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }
}

